<div class="collection_list" id="the_collection_list">
  <div class="collection_list_header">
    <!-- TODO: search post -->
    <!-- <a class="search_btn">
      <i class="fa fa-search"> Search</i>
    </a>
    &nbsp; -->
    <a class="close_btn" onclick="close_collection_list()">
      <i class="fa fa-times-circle-o"> Close</i>
    </a>
  </div>
  <div class="collection_name_list">
    <table class="vertical_center_table">
      <tr>
        <td>
          <ul>
            <!-- show all collections -->
            <li>
              <a class="a_collection_label" onclick="show_collection('all')"
                >ALL
              </a>
            </li>
            <!-- show a simple collection -->
            {% for collection in site.collections %}
            <li>
              <a
                class="a_collection_label"
                onclick="show_collection('{{collection.label}}')"
              >
                {{collection.label}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="posts_by_cate">
    <!-- post list in all collections -->
    <div class="post_list_in_1_collection" id="all">
      <table class="vertical_center_table">
        <tr>
          <td>
            <ul>
              {% for collection in site.collections %}
              <h2>{{collection.label}}</h2>
              {% for post in collection.docs %}

              <li>
                <a
                  class="a_title"
                  href="{{site.url}}{{site.baseurl}}{{post.url}}"
                  >{{post.title}}</a
                >
              </li>
              {% endfor %}
              <br />
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <!-- post list in a collection -->
    {% for collection in site.collections %}
    <div class="post_list_in_1_collection" id="{{collection.label}}">
      <table class="vertical_center_table">
        <tr>
          <td>
            <ul>
              {% for post in collection.docs %}
              <li>
                <a
                  class="a_title"
                  href="{{site.url}}{{site.baseurl}}{{post.url}}"
                  >{{post.title}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>
