<script src="{{site.url}}{{site.baseurl}}/src/assets/js/a076d05399.js" crossorigin='anonymous' async></script>
<div class="footer">
  <nav class="nav_bar">
    <ul class="footer_owner_info">
      <!-- website -->
      {% if site.website %}
      <a class="footer_btn" href="{{ site.website }}">
        <i class="fab fa-angellist">
          {% if page.btn_text != false %}
          <p>.edu</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- email -->
      {% if site.email %}
      <a class="footer_btn" href="mailto://{{ site.email }}">
        <i class="fa fa-envelope-square">
          {% if page.btn_text != false %}
          <p>Email</p>
          {% endif %}
        </i>
      </a>
      {% endif %}      
      <!-- github -->
      {% if site.github %}
      <a class="footer_btn" href="https://github.com/{{ site.github }}">
        <i class="fab fa-github">
          {% if page.btn_text != false %}
          <p>Github</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- gitlab -->
      {% if site.gitlab %}
      <a class="footer_btn" href="https://gitlab.com/{{ site.gitlab }}">
        <i class="fab fa-gitlab">
          {% if page.btn_text != false %}
          <p>Gitlab</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
     <!-- bitbucket -->
      {% if site.bitbucket %}
      <a
        class="footer_btn"
        href="https://bitbucket.org/{{ site.bitbucket }}"
      >
        <i class="fab fa-bitbucket">
          {% if page.btn_text != false %}
          <p>bitbucket</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- pastebin -->
      {% if site.pastebin %}
      <a
        class="footer_btn"
        href="https://www.pastebin.com/u/{{ site.pastebin }}"
      >
        <i class="far fa-file-code">
          {% if page.btn_text != false %}
          <p>Pastebin</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
    <!-- discord -->
      {% if site.discord %}
      <a
        class="footer_btn"
        href="https://discord.com/channels/{{ site.discord }}"
      >
        <i class="fab fa-discord">
          {% if page.btn_text != false %}
          <p>Discord</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
     <!-- medium -->
      {% if site.medium %}
      <a
        class="footer_btn"
        href="https://medium.com/{{ site.medium }}"
      >
        <i class="fab fa-medium">
          {% if page.btn_text != false %}
          <p>Medium</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- youtube -->
      {% if site.youtube %}
      <a
        class="footer_btn"
        href="https://www.youtube.com/user/{{ site.youtube }}"
      >
        <i class="fab fa-youtube">
          {% if page.btn_text != false %}
          <p>Youtube</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- twitter -->
      {% if site.twitter %}
      <a class="footer_btn" href="https://twitter.com/{{ site.twitter }}">
        <i class="fab fa-twitter">
          {% if page.btn_text != false %}
          <p>Twitter</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- facebook -->
      {% if site.facebook %}
      <a class="footer_btn" href="https://www.facebook.com/{{ site.facebook }}">
        <i class="fab fa-facebook">
          {% if page.btn_text != false %}
          <p>Facebook</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- instagram -->
      {% if site.instagram %}
      <a class="footer_btn" href="https://instagram.com/{{ site.instagram }}">
        <i class="fab fa-instagram">
          {% if page.btn_text != false %}
          <p>Instagram</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
      <!-- linkedin -->
      {% if site.linkedin %}
      <a
        class="footer_btn"
        href="https://www.linkedin.com/in/{{ site.linkedin }}"
      >
        <i class="fab fa-linkedin">
          {% if page.btn_text != false %}
          <p>LinkedIn</p>
          {% endif %}
        </i>
      </a>
      {% endif %}
    </ul>
    <!-- copyright -->
    <ul class="footer_copyright">
      <li class="copyright">© 2015 - <script type='text/javascript'>var creditsyear = new Date();document.write(creditsyear.getFullYear());</script></li>
      {% if site.statement %}
      <li>{{ site.statement }}</li>
      {% endif %}
    </ul>
  </nav>
</div>
