#-------------------
# OS junk
._*
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

#-------------------
# site
.DS_Store
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
.vscode
_site
Gemfile.lock

#-------------------
# Emacs
*~
*.elc
[#]*[#]
*[#]
.[#]*