// global base reset
body {
  line-height: 1.25;
  font-size: $font-size-primary;
  color: $color-primary;
  font-family: $font-serif;
}
h1 {
  font-size: $font-size-h1;
  text-align: center !important;
  font-weight: lighter;
  margin: 1.8em 0 1.5em 0;
}
h2 {
  font-size: $font-size-h2;
  font-weight: lighter;
  margin: 1.8em 0 0.6em 0;
  border-bottom: $thin-border;
}
h3 {
  font-size: $font-size-h3;
  font-weight: lighter;
  margin: 1.8em 0 0.6em 0;
}
h4 {
  font-size: $font-size-h4;
  font-weight: lighter;
  margin: 2.2em 0 0.6em 0;
}
h5 {
  font-size: $font-size-h5;
  font-weight: lighter;
  margin: 2.3em 0 0.6em 0;
}
h6 {
  font-size: $font-size-h6;
  font-weight: lighter;
  margin: 2.4em 0 0.6em 0;
}
p {
  margin: 10px;
  display: block;
}
hr {
  border: 0;
  border-top: 1px solid rgba($color-primary, 0.6);
  margin: 0 0 0 0;
}
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
textarea {
  margin: 0;
  padding: 0;
  border: $thin-border;
  background-color: rgba($color-postbg, 0.7);
  color: $color-warning;
  font-size: 15px;
}
button {
  border: $medium-border;
  background-color: rgba($color-postbg, 0.7);
  color: $color-primary;
}
// links
a {
  color: $color-primary;
  text-decoration: underline;
}
a:hover {
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}
ol {
  padding: 0 0 0 30px;
}
ul {
  padding: 0 0 0 30px;
}
blockquote {
  margin: 1em 30px 0.8em 35px;
  font-size: 90%;
  font-style: italic;
  line-height: 100%;
  color: $color-secondary;
  border-left: 0.5px solid $color-secondary;
}
// code highlight
pre {
  border: $thin-border;
}
// table style
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  line-height: 1;
  thead {
    border-top: $secondary-border;
    border-bottom: $thin-border;
    th {
      padding: 10px 10px;
      font-size: $font-bigger;
    }
  }
  tbody {
    td {
      padding: 8px 10px;
    }
    border-bottom: $secondary-border;
  }
}
code {
  font-family: $font-monospace;  
}
// markdown style reset
article .language-plaintext {
  font-size: 90%;
  color: $color-secondary;
  text-shadow: -0.5px -0.5px 0 rgb(194, 202, 157),0.5px 0.5px 0 #333,0.5px 0.5px 0 #444;
}
article {
  a {
  padding: 0 0.3em;
}  
a:hover{
  font-weight: bold;
}
}