<!-- aes encrypt and decrypt method -->
<script
  src="{{ site.url }}{{ site.baseurl }}{{ site.assets_path }}/js/sjcl.js"
  async
></script>
<div class="div_token">
  <input
    class="access_token"
    id="acs_tkn"
    autofocus="autofocus"
    type="password"
  />
  <button class="apply_token" onclick="apply_token()">
    Apply Token
  </button>
</div>
<!-- decrypt elements -->
<script>
  function decrypt_all(passwd, class_name) {
    elem_clct = document.getElementsByClassName(class_name);
    if (elem_clct.length == 0) {
      console.log("No texts to decrypt!");
      return false;
    }
    if (true) {
      for (acc = 0; acc < elem_clct.length; acc++) {
        var encrypted = elem_clct[acc].innerHTML.toString;
        var cipher_text = {ct: encrypted};
        console.log(cipher_text);
        sjcl.decrypt("123",{"iv":"mlr6LNDhCRyyGHna6oH8aw==",
"v":1,
"iter":1000,
"ks":128,
"ts":64,
"mode":"ccm",
"adata":"",
"cipher":"aes",
"salt":"jEwFMPufL9M=",
"ct":"V7pxFmgFrqaeOArqpUmiikxpLBJGNBNUahl4tboeNw=="}.stringify);
        // elem_clct[acc].innerHTML = sjcl.decrypt(passwd,encrypted);
      return true;
    }
    return false;
  }
}
  function apply_token() {
    if (decrypt_all(document.getElementById("acs_tkn"), "encrypted")) {
    
      console.log(document.getElementById("acs_tkn").innerHTML);
      document.getElementById("acs_tkn").style.display = "none";
    }
  }
</script>
