<!-- list of articles -->
{% if site.loa_title != "" %}
<h1 class="loa">{{site.loa_title}}</h1>
{% else %}
<h1 class="loa">list of articles</h1>
{% endif %}
<table>
    <thead>
        <tr>
            <th> TITLE </th>
            <th> DATE </th>
            <th> CATEGORY </th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
        </tr>
        <td class="td_title"><a href="{{post.url}}">{{post.title}}</a></td>
        <td class="td_date">{{post.date | date: "%b %d, %y"}}</td>
        <td class="td_category">{{post.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>