// global reset

$color-primary: rgba(14, 172, 14, 0.918);
$color-warning: rgb(173, 0, 0);
$color-secondary: rgb(237, 237, 241);
$color-line: rgb(237, 237, 241);
$color-back: rgb(149, 155, 158);
$color-page: rgb(14, 8, 20);
$image-background: none;

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Retina.ttf");
}
@font-face {
  font-family: "fangzhengzhengxian";
  src: url("../fonts/fangzhengzhengxian.ttf");
}
$font-family: "Fira Code", "fangzhengzhengxian", Helvetica, Tahoma, Arial,
  "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif;
$font-size-h1: 28px;
$font-size-h2: 25px;
$font-size-h3: 23px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 13px;
$font-size-primary: 20px;
body {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  line-height: 1.3;
  background-color: $color-back;
  background-image: $image-background;
  font-size: $font-size-primary;
  color: $color-primary;
  font-family: $font-family;
}
.container {
  align-items: center;
  overflow: auto;
  top: 5%;
  margin: 0 auto;
  height: 90%;
  width: 82%;
  max-width: 1100px;
  position: sticky;
  border: 1px solid $color-line;
  /* scroll bar in div */

  .header {
	  text-align: left;
	  height: 25px;
	background-color: $color-page;

  }
  .footer {
	text-align: center;
	height: 20px;
	background-color: $color-page;
	li{
		padding: 2px 12px;
		font-size: 14px;
		list-style: none;
	}
  }
}
.container::-webkit-scrollbar {
	width: 3px;
  }
.container::-webkit-scrollbar-thumb {
	background-color: $color-primary;
  }
article {
	margin: 15px 15px;
}
nav {
	margin: 0 20px 0 20px;
	height: 90%;
}
.left {
	position: sticky;
	left: 20px;
}
.right {
	position: right;
}
ul {
	margin: 0;
	padding: 0;
	height: 95%;
	width: 95%;
	li{
		padding: 7px 25px;
		list-style: none;
		display: inline-block;
	}
}
article {
  background-color: $color-page;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
p {
	margin: 10px;
}
hr {
	border: 0;
    border-top: 0.8px solid $color-line;
    margin: 15px 0 0 0;
}
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
