div {
  background-color: $color-page;
  border: 2px 2px 2px 2px $color-secondary;
  .container {
    width: 1100px;
    height: 85%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 770px) {
}

@media screen and (max-width: 770px) {
}
