<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page" onresize="setInterval(draw, 20);">
    {% include background.html %}
    <div class="container" id="ctner">
      {% include collection_list.html %}  
      {% include header.html %}
      <div class="div_article" id="div_atcl">       
        <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
          {{content}}
          {% include post_list.html %}
          {% include comment.html %}
        </article>
          {% if page.footer != false %}
          {% include footer.html %}
          {% endif %}
      </div>
    </div>
  </body>
</html>
