// global variables
$color-primary: rgb(52, 165, 7);
$color-warning: rgb(194, 5, 5);
$color-bg: rgb(0, 0, 0);
$color-postbg: rgb(0, 0, 0);
$image-background: none;

// font family
$font-serif: Georgia, Times, serif, "Source-Han-Sans-Medium", "PingFang SC",
  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !default;
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif, "Source-Han-Sans-Medium",
  "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
  "WenQuanYi Micro Hei" !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;
$font-monospace: "Fira Code", "Source Code Pro", "Fira Code Online", Monaco,
  Consolas, "Lucida Console", monospace !default;

// font size
$font-size-h1: 23px;
$font-size-h2: 21px;
$font-size-h3: 20px;
$font-size-h4: 19px;
$font-size-h5: 18px;
$font-size-h6: 17px;
$font-size-primary: 16.5px;
$font-smaller: 93%;
$font-bigger: 108%;
$blk-duration: 1.2s;
$blk-timing-function: cubic-bezier(0.98, -0.23, 0.65, 0.7);

// syntax highlight
$code-primary: #23ad35;
$code-background: rgb(17, 15, 15);
$comment: rgb(187, 190, 127);
$keyword: #1fdfc5;
$number: #7838ee;
$type: rgb(207, 138, 59);
$variable: #d44639;
$string: rgb(235, 146, 63);
$punctuation: #4fa5ce;
$namespace: #660752;
$class: #861aa1;
$built-in: #665454;
$global: #19e445;
$error: #a50d0d;
$error-background: #250f0f;