@import url(font.css);
body {
  background: #fff;
  margin: 10px 0px 50px 0px;
  padding: 0px;
  font-family:UTUEK,tahoma,Arial,sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 14px;
  width:100%;
  max-width:320px;
  height:100%; 
  margin:0 auto;
/*
Body - Responsive
width:100%;
max-width:960px;
height:100%; 
margin:0 auto;
*/
}
div#wrapper {
  border: 1px solid #ffffff;
  width: 320px;
  background-repeat: repeat;
  margin:0 auto;
 /* margin: 10px 0px;*/
}
div#wrapper div#header {
  background: #ffffff;
  padding: 0px 20px 15px 20px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 6px;
  height: 33px;
}
div#wrapper div#header b {
  margin: 15px 0px 15px 0px;
  font-size: 35px;
/*Google font API*/  
  font-family:TASSELXP; /*font style*/
  opacity:0.7;
  line-height: 12px;
  padding: 0px 0px 0px 70px;
  float: left;
  color: #444444;
}
div#wrapper div#header iframe {
  margin-top: 11px;
  float: right;
  overflow: hidden;
  height: 28px;
  width: 320px;
  border: none; 
}
div#wrapper div#count {
  margin-bottom: 10px;
  margin-left: 18px;
  font-family:UTUEK,tahoma,Arial,sans-serif;
  opacity:0.8;
}
div#wrapper div#friends a.friend {
  clear: both;
  display: block;
  border-top: 1px solid #d8dfea;
  padding: 0px;
  line-height: 40px;
  height: 40px;
  width: 320px;
}
div#wrapper div#friends a.friend:hover {
  background-color: #f7f7f7;
}
div#wrapper div#friends a.friend img.pic {
  float: left;
  padding-top: 5px;
  padding-left: 8px;
  width: 30px;
  height: 30px;
  border: 0px;
}
div#wrapper div#friends a.friend img.status {
  float: left;
  padding-top: 16px;
  padding-left: 7px;
}
div#wrapper div#friends a.friend span.name {
  float: left;
  padding-left: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #444444;
}
ins {
  padding: 10px 16px !important;
}
div#wrapper ins {
  padding: 10px 15px 8px 15px !important;
  border-top: 1px solid #d8dfea !important;
}
ins ins, div#wrapper ins ins {
  padding: 0px !important;
  border: none !important;
}
/***************************************************/
.emoticon {
width: 16px;
height: 16px;
display: inline-block;
}
.emoticon_wink{background-image:url(https://m-static.ak.fbcdn.net/rsrc.php/v2/yN/r/0l9htKQ6S81.png);background-repeat:no-repeat;background-size:auto;background-position:-218px -199px}

.googleapp {
width: 120px;
height: 30px;
display: inline-block;
}
.googleapp_a {
background-image:url(https://developers.google.com/appengine/images/appengine-noborder-120x30.gif);
background-size:120px 30px;
background-repeat:no-repeat;
}

.active {
width: 7px;
height: 7px;
display: inline-block;
}
.active_a {
background-image:url(https://googledrive.com/host/0B9YslyGnSwPPaVJvUnlvR1lPU0U/);
background-size:7px 7px;
background-repeat:no-repeat;
}
.idle {
width: 7px;
height: 7px;
display: inline-block;
}
.idle_a {
background-image:url(https://googledrive.com/host/0B9YslyGnSwPPX0ZhWUpZWTlsMFk/);
background-size:7px 7px;
background-repeat:no-repeat;
}

.loading {
width: 32px;
height: 32px;
display: inline-block;
}
.loading_a {
background-image:url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif);
background-size:32px 32px;
background-repeat:no-repeat;
}

.emoticon_pacman {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y9/r/udAgFZgBqnS.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -34px -643px;
}

.i_icon {
background-image: url(https://googledrive.com/host/0B9YslyGnSwPPMWZCamEwTEMtcjQ/);
background-repeat: no-repeat;
background-size: auto;
}
.i {
width: 10px;
height: 12px;
display: inline-block;
}

.me_icon {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/yQ/r/7GFXgco-uzw.png);
background-repeat: no-repeat;
background-size: auto;
}
.me {
width: 14px;
height: 14px;
display: inline-block;
}

.emot {
width: 16px;
height: 16px;
display: inline-block;
vertical-align: top;
background-image:url(https://graph.facebook.com/f9.lying/picture);
background-size:16px 16px;
}

.emoticon_shark {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y3/r/nXNbKv6uaSF.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -289px -668px;
}
._2dx._1a- {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y3/r/nXNbKv6uaSF.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -85px -566px;
}
._2h6._1a- {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/yl/r/djWWR4XJTnA.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -272px -129px;
}
._2e3._1a- {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y3/r/nXNbKv6uaSF.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -221px -566px;
}
._1a- {
height: 16px;
width: 16px;
display: inline-block;
}
._1az {
background-image: url(https://googledrive.com/host/0B9YslyGnSwPPcm5KeUVHdE1pVlE);
background-size:18px 16px;
background-repeat: no-repeat;
}

.img {
-ms-high-contrast-adjust: none;
_overflow: hidden;
}
.sx_f227d5 {
background-position: -34px -163px;
}
.sp_ajm6r8 {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/yl/r/djWWR4XJTnA.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
height: 16px;
width: 16px;
}
.sx_68db08 {
background-position: 0 -222px;
}
.sp_2x6xe0 {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/ye/r/ZiskGiGS0Vw.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
height: 16px;
width: 16px;
}
.sx_7964f7 {
height: 16px;
background-position: -208px -175px;
}
.sp_8jd5ay {
background-image: url(https://m-static.ak.fbcdn.net/rsrc.php/v2/y2/r/k8z0py7VTRC.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
height: 16px;
width: 16px;
}
