@charset 'utf-8';

// abstracts
@import "abstracts/fonts";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/animations";
// vendor
@import "vendor/syntax";
// base styles
@import "base/base";
// components
@import "components/footer";
@import "components/collection_list";
@import "components/background";
@import "components/header";
@import "components/post_info";
@import "components/post_list";
@import "components/toc";
// layout
@import "layouts/default";

