// global variables
$color-primary: rgb(94, 223, 43);
$color-secondary: rgb(247, 193, 17);
$color-warning: rgb(238, 63, 40);
$color-bg: rgb(24, 17, 17);
$color-postbg: rgb(0, 0, 0);
$image-background: none;

// font size
$font-size-h1: 23px;
$font-size-h2: 22px;
$font-size-h3: 22px;
$font-size-h4: 19.5px;
$font-size-h5: 18.5px;
$font-size-h6: 18px;
$font-size-primary: 16.8px;
$font-smaller: 93%;
$font-bigger: 108%;
$blk-duration: 1.2s;
$blk-timing-function: cubic-bezier(0.98, -0.23, 0.65, 0.7);

// layout reset
$header-height: 37px;
$header-btn-icon-size: 17px;
$header-btn-text-size: $header-btn-icon-size * 0.95;
$toc-position: $header-height + 1px;
$footer-icon-size: 14px;
$footer-text-size: $footer-icon-size * 0.9;
$collection-list-header-size: 30px;

// standard border
$thick-border: 2.1px solid $color-primary;
$secondary-border: 1.35px solid rgba($color-primary, 0.87);
$medium-border: 0.95px solid rgba($color-primary, 0.83);
$thin-border: 0.5px solid rgba($color-primary, 0.6);

// syntax highlight
$code-primary: $color-primary;
$comment: $color-secondary;
$keyword: #8a31ff;
$type: rgb(195, 233, 25);
$variable: #e24637;
$number: #66faff;
$string: rgb(230, 126, 29);
$punctuation: #52acf7;
$namespace: #8a076d;
$class: #c43144;
$built-in: #9e7c7c;
$global: #52c96c;
$error: $color-warning;
$code-background: rgb(19, 16, 16);
$error-background: #250f0f;