<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {%include rolling.html %}
        <div class="container">
            <div class="header">
                <nav>
                    <ul>
                        <li class="left">
                            {% if page.title %}
                                {{ page.title }}
                            {% else %}
                                {{ site.title }}
                            {% endif %}
                        </li>
                        {% if page.multilang != "single" %}
                            <li class="right">
                                <i class="fa fa-language"></i>
                            </li>
                        {% endif %}
                        <!-- add other buttons here -->
                    </ul>
                </nav>
            </div>
            <hr/>
            <article itemscope itemtype="http://schema.org/BlogPosting">
                {{ content }}
            </article>
            <hr/>
            <div class="footer">
                <nav>
                    <ul>
                        <li class="copyright">
                                © 2019
                        </li>
                        {% if site.email %}
                            <li>
                                <i class="fa fa-envelope" href="{{ site.email }}"></i>
                            </li>
                        {% endif %}
                        {% if site.statement %}
                            <li>
                                {{ site.statement }}
                            </li>
                        {% endif %}
                        </nav>
                    </ul>
            </div>
        </div>
    </body>
</html>
